:root {
  --primary: #4628ff;
  --warning: #ffd028;
  --danger: #ed3f27;
  --success: #75fa83;
  --log: #fdfdfd;
  --white: #fdfdfd;
  --dark: #181717;
}

.btn {
  font-family: sans-serif;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: translateY(-3px);
}

.btn--primary--solid {
  background-color: var(--primary);
  color: var(--white);
  border: none;
}

.btn--warning--solid {
  background-color: var(--warning);
  color: var(--dark);
  border: none;
}

.btn--danger--solid {
  background-color: var(--danger);
  color: var(--white);
  border: none;
}

.btn_success_solid {
  background-color: var(--success);
  color: var(--white);
  border: none;
}
.btn_log_solid {
   background-color: var(--log);
  color: var(--dark);
  border: 2px solid var(--dark);
}

.btn--primary--outline {
  background-color: transparent;
  border: 2px solid var var(--primary);
  color: var(--primary);
}

.btn--warning--outline {
  background-color: transparent;
  border: 2px solid var var(--warning);
  color: var(--warning);
}

.btn--danger--outline {
  background-color: transparent;
  border: 2px solid var var(--danger);
  color: var(--danger);
}

.btn--success--outline {
  background-color: transparent;
  border: 2px solid var var(--success);
  color: var(--success);
}

.btn--medium {
  padding: 10px 20px;
  font-size: 18px;
}

.btn--large {
    margin: auto 50px;
  padding: 10px  20px;
  font-size: 12px;
}
